.parent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.scaled-container {
    transform: scale(0.75); /* Scale down to 75% */
    transform-origin: center center; /* Center the scaling */
}

.container {
    width: 20px;
    margin-bottom: 20px;
}

.character {
    border: none;
    font-size: 20px;
    border-radius: 8px;
    color: #272729;
    background-color: #f6f5fa;
    margin: 5px;
}
