.container{
    width: 20px;
    margin-bottom: 20px;
}

.character {
    border: none;
    font-size: 20px;
    border-radius: 8px;
    color: #272729;
    background-color: #f6f5fa;
    margin: 5px;
}
