.chakra-select__wrapper {
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
    -webkit-padding-end: 0 !important;
    -webkit-padding-start: 0 !important;
    padding-top: var(--chakra-space-0) !important;
    padding-bottom: var(--chakra-space-0) !important;
}

.chakra-checkbox__control {
    border-color: #2c2c59 !important;
}
.chakra-checkbox__control[data-checked] {
    background: #2c2c59 !important;
}

.custom-table {
    background-color: #ffffff;
    margin-top: 50px !important;
    margin-right: 20px !important;
}

.custom-table th {
    background-color: #393970;
    color: #ffffff;
    padding: 15px;
    width: fit-content;
    font-size: 1.125rem;
}
.custom-table td {
    padding: 15px;
    width: fit-content;
    font-size: 1.125rem;
}